<div id="<%= dom_id pedido %>">
  <div>
    <strong>Customer:</strong>
    <%= pedido.customer_id %>
  </div>

  <div>
    <strong>Total price:</strong>
    <%= pedido.total_price %>
  </div>

  <div>
    <strong>Discount percent:</strong>
    <%= pedido.discount_percent %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= pedido.status %>
  </div>

  <div>
    <strong>Delivery address:</strong>
    <%= pedido.delivery_address %>
  </div>

</div>
